# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_ARCH36_LEFT
	def_bool $(shields_list_contains,arch36_left)

config SHIELD_ARCH36_RIGHT
	def_bool $(shields_list_contains,arch36_right)
